<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uphyca.robota.engine.bundle">

    <uses-permission android:name="com.uphyca.robota.permission.RECEIVE_MESSAGE_CREATED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BundleEngineActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.uphyca.robota.engine.bundle.HelpEngine"
            android:label="@string/label_help"
            android:description="@string/description_help">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.uphyca.robota.engine.bundle.HelpQueryEngine"
            android:label="@string/label_help_query"
            android:description="@string/description_help_query">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.uphyca.robota.engine.bundle.PingEngine"
            android:label="@string/label_ping"
            android:description="@string/description_ping">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.uphyca.robota.engine.bundle.EchoEngine"
            android:label="@string/label_echo"
            android:description="@string/description_echo">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
