<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application>

        <receiver android:name="com.uphyca.robota.PingEngine">
            <intent-filter>
                <action android:name="io.idobata.action.MESSAGE_CREATED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
