<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="com.uphyca.robota.permission.RECEIVE_MESSAGE_CREATED"/>

    <application>

        <receiver android:name="com.uphyca.robota.engine.PingEngine">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.uphyca.robota.engine.EchoEngine">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.uphyca.robota.engine.TimeEngine">
            <intent-filter>
                <action android:name="com.uphyca.robota.action.MESSAGE_CREATED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
